main h1 {
    text-decoration:underline;
    color:green;
}

main h2 {
    text-decoration: underline;
    color: green;
}
main p1:first lettet{
    font-size: 200xp;
    color: yellow;
}
main p2:first lettet {
    font-size: 200xp;
    color: yellow;
}